div.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:80px auto 80px;
    grid-template-areas:
                        "h"
                        "m"
			            "f";
    font-family:"Spartan", sans-serif;
    color: #8E8E8E;
    margin: 0 auto;
}

header{
    grid-area: h;
}

.logo{
    grid-area:l;
}

.nav{
    grid-area:n;
}


main{
    grid-area:m;
}

.showcase{
    grid-area:s;
}

.line{
    grid-area:l;
}

.photo{
    grid-area:p;
}



.intro{
    grid-area:ito;
}


ul{
   list-style: none; 
}


.main-nav li, .main-nav li a{
    text-decoration: none;
}

a:link {
    color: #8E8E8E;
    text-decoration: none;
}

a:visited {
    color: #B2B2B2;
    text-decoration: none;
}

a:hover {
    color: #6C49A9;
    text-decoration: underline;
}

.photome{
    width: 135px;
    height:135px;
    } 

.lab-ul,.project-ul,p{
            line-height:142%;
   
}

.footer {
    height: 60px;
    grid-area:f;
    text-align: center;
    font-size:14px;
    margin: 70px auto;
   
}

/* message board section */

.message-board {
    /* border: 1px solid #ccc; */
    padding: 10px;
    max-width: 400px;
    /* margin: 0 auto; */
}

        /* form section*/

form {
    margin-left: 20px;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-top: 15px;
    margin-left: 25px;
  }



    /*media screen for mobile */

@media screen and (max-width:720px) {
    
    .wrapper{
        width: 100%;
    }
    
    header{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px ;
        grid-template-areas:
                "l"
                "n";
    }
    
    .logo{
        text-align: center;
    }
    
    .main-nav{
    display:flex;
    list-style: none;
    justify-content:space-between;
    }
   
    main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto 80px 180px auto auto;
    grid-gap: 10px;
    grid-template-areas:
                "s"
                "l"
                "p"
                "ifo"
                "ito";
    }
    
    .showcase{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,100%x);
    grid-gap:10px;
    }
    
    .display-1,.display-2,.display-3,.display-4,.display-5,.display-6{
    width : 100%;
    height: auto;
    border-radius: 8px;
    }
    
    .line{
    margin: 20px 0;
    }
    
    .photo{
        margin:0 auto;
    }
    
    .goals,.experience,.learn,.project{
        text-align: center;
        margin-left: 30px;
                      
    }
    
    .lab-ul,.project-ul,p{
            text-align: center;
            margin-left:-40px;
    }
    
}

        /*media screen for desktop*/
 
@media screen and (min-width : 979px) {
   
    .wrapper {
        width: 1250px;
    }

    header{
    width: 1250px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas:"l n"
    }


    .main-nav{
    display:flex;
    list-style: none;
    padding: 0px;
    justify-content:space-between;
    margin: 28px 0px;
    }
    
    main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 553px 50px 200px auto;
    grid-gap: 10px;
    grid-template-areas:
                "s s"
                "l l"
                "p ito"
                "ifo ito";
    }

    .showcase{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 270Px 270px;
    grid-gap:10px;
    }

    .display-1,.display-2,.display-3,.display-4,.display-5,.display-6{
    width: 408px;
    height: 270px;
    border-radius: 6px;
    }

    .line{
    margin: 20px 0;
    }
 
    .photome{
    margin: 70px 0 0 270px;
    }
    
    .goals,.experience,.learn,.project{
                        margin-left:20px;
                        width: 580px;
                        text-align: justify;
    }

    
    
}

